# dependencies
node_modules

# compiled output
dist
build

# local env & logs
.env
*.log

# TypeScript build metadata
*.tsbuildinfo

# Jest cache
jest-cache/
jest-report/

# macOS / VS Code / system files
.DS_Store
.vscode/